@import 'reboot.css';

$tahoma:Tahoma,Geneva,sans-serif;
$georgia:Georgia,serif;
$arial:"Arial",Helvetica,sans-serif;
$palatino:"Palatino Linotype","Book Antiqua",Palatino,serif;
$times:"Timew New Roman",Times,serif;
$msserif:"MS Serif","New York",serif;
$comic:"Comic Sans MS",cursive,sans-serif;
$impact:Impact,Charcoal,sans-serif;
$lucide:"Lucide Sans Unicode","Lucida Grande",sans-serif;
$trebuchet:"Trebuchet MS",Helvetica,sans-serif;
$verdana:Verdana,Geneva,sans-serif;
$courier:"Courier New",Courier,monospace;
$lucida:"Lucida Console",Monaco,monospace;

@import url('https://fonts.googleapis.com/css?family=Aldrich');

$aldrich:'Aldrich',sans-serif;
